.profile {
  max-width: 40%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: 0px 0px 6px 5px rgba(6, 135, 241, 0.75);
  border-radius: 4px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.avatar {
  display: flex;
  max-width: 30%;
  /* border-radius: 50%; */
  /* border: 2px solid rgba(115, 105, 160, 0.75)al; */
}

.profileName {
  position: relative;
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
}

.profileName::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.profileName:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.profileName::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

/* .profileName:hover {
  color: #2196f3;
} */

.profileTag,
.profileLocation {
  margin: 0.5rem;
  font-size: 2rem;
  color: #8a8b8e;
  cursor: pointer;
}

.profileTag:hover {
  color: #2196f3;
}

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.viewsList {
  border-left: 1px solid #d3d5e3;
  border-right: 1px solid #d3d5e3;
}

.followersList {
  border-radius: 0 0 0 0.5rem;
}

.likesList {
  border-radius: 0 0 0.5rem;
}

.label {
  padding-bottom: 0.5rem;
  color: #8a8b8e;
}
.quantity {
  font-weight: bold;
  border-radius: 0.5rem;
}
