.profile {
  max-width: 40%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: 0px 0px 6px 5px rgba(128, 187, 236, 0.75);
  border-radius: 4px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.avatar {
  display: flex;
  max-width: 50%;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2),
    1px 4px 6px rgba(0, 0, 0, 0.2);
}

.profileName {
  position: relative;
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.profileTag,
.profileLocation {
  margin: 0.5rem;
  font-size: 2rem;
  color: #8a8b8e;
  cursor: pointer;
  text-decoration: none;
}

.profileTag:hover {
  color: #2196f3;
}

.profileLocation {
    position: relative;
    cursor: pointer;
}

.profileLocation::after {
    display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #2196f3;
	content: "";
	transition: width 0.3s ease-out;
}

.profileLocation:hover::after {
    width: 100%;
}


.stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #d1d2d9;
  background-color: rgba(241, 241, 241, 0.833);
}

.viewsList {
  border-left: 1px solid #d1d2d9;
  border-right: 1px solid #d1d2d9;
}

.followersList {
  border-radius: 0 0 0 0.5rem;
}

.likesList {
  border-radius: 0 0 0.5rem;
}

.label {
  padding-bottom: 0.5rem;
  color: #8a8b8e;
}
.quantity {
  font-weight: bold;
  border-radius: 0.5rem;
}
